body {
  background-color: rgb(139 177 177);
  padding: 0;
  margin: 0;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

#homeWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
}

#homeContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

#homeTitle {
  font-size: 5vw;
}

#homePlayBtn {
  font-size: 2vw;
  margin: 0 3vw;
  cursor: pointer;
}

#homeAboutBtn {
  font-size: 2vw;
  margin: 0 3vw;
  cursor: pointer;
}

#homeBtn {
  font-size: 2vw;
  margin: 0 3vw;
  cursor: pointer;
}

#homeAboutText {
  font-size: 1.6vw;
  margin: 2vh 0;
}

#homeHostBtn {
  font-size: 2vw;
  margin: 0 3vw;
  cursor: pointer;
}

#homeJoinBtn {
  font-size: 2vw;
  margin: 0 3vw;
  cursor: pointer;
}

#joinBtn {
  font-size: 2vw;
  margin: 0 3vw;
  cursor: pointer;
}

#gameCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 98vh;
    height: 98vh;
    aspect-ratio: 1/1;
    border: 2px black solid;
    margin: 10px;
    border-radius: 25px;
}

#gameWrapper {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerListWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

.playerListLabel {
  text-align: left;
}

.playerListValue {
  text-align: right;
}

#messageBox {
  width: 100%;
  height: 50vh;
}

#controlBox {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#powerWrapper {
  outline: 5px solid black;
  width: 80%;
}

#powerDisplay {
  background-color: black;
}
