body {
  font-family: sans-serif;
  color: white;
  background-color: rgb(139 177 177);
  background: url(/media/images/splash1_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  cursor: default;
  /* user-select: none; */
  /* -webkit-user-select: none; */
}

h1 {
  font-size: 4vw;
  margin-top: 0;
}

#codeDisplay, #joinDisplay {
  color: white;
  background-color: #00000070;
  border: 6px white solid;
  border-radius: 2vw;
  padding: 5%;
  text-shadow: 0.4vw 0.4vw 4px #000000;
  width: 75vw;
  height: 75vh;
}

.button {
    font-size: 4vw;
    color: white;
    height: 3vh;
    background-color: #00000070;
    border: 0.4vw white solid;
    border-radius: 2vw;
    padding: 5vh;
    line-height: 3vh;
    text-shadow: 0.4vw 0.4vw 4px #000000;
}

#homeWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
}

#homeContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#homeTitle {
    font-size: 7vw;
    font-family: sans-serif;
    color: white;
    text-shadow: 0.4vw 0.4vw 4px #000000;
    margin: 0.7vw;
}

#homePlayBtn {
  font-size: 5vw;
  margin: 0 3vw;
  cursor: pointer;
}

#homeAboutBtn {
  /* font-size: 5vw; */
  margin: 0 3vw;
  cursor: pointer;
}

#homeBtn {
  /* font-size: 5vw; */
  margin: 0 3vw;
  cursor: pointer;
}

#homeAboutText {
    font-size: 3vw;
    background-color: #00000070;
    border: 0.4vw white solid;
    border-radius: 2vw;
    padding: 3%;
    text-shadow: 0.4vw 0.4vw 4px #000000;
    margin: 3vh;
}

#homeHostBtn {
  font-size: 5vw;
  margin: 0 3vw;
  cursor: pointer;
}

#homeJoinBtn {
  font-size: 5vw;
  margin: 0 3vw;
  cursor: pointer;
}

#joinBtn {
  /* font-size: 5vw; */
  margin: 0 3vw;
  cursor: pointer;
}

#joinBtnWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
}

#gameCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 98vh;
  height: 98vh;
  aspect-ratio: 1/1;
  border: 2px black solid;
  margin: 0.5vh;
  border-radius: 25px;
}

#gameWrapper {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerListWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  font-size: 10vh;
}

.playerListLabel {
  text-align: left;
}

.playerListValue {
  text-align: right;
}

#messageBox {
  width: 100%;
  height: 68vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#messageBox::-webkit-scrollbar {
  display: none;
}

#controlBox {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "VT323", monospace;
  font-size: 5vh;
}

#powerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4vh;
  margin: 2vh 0;
  background-color: black;
}

#powerDisplayWrapper {
  width: 70%;
  outline: 2px solid #39ff14;
  background-color: black;
}

#powerLabel {
  width: 30%;
}

#powerDisplay {
  background-color: #39ff14;
  height: 4vh;
}

#healthWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4vh;
  margin: 1vh 0;
  background-color: black;
}

#healthDisplayWrapper {
  width: 70%;
  outline: 2px solid #39ff14;
  background-color: black;
}

#healthLabel {
  width: 30%;
}

#healthDisplay {
  background-color: #39ff14;
  height: 4vh;
}

#damageInput {
  width: 100%;
}

#damageLabel {
  width: 100vh;
}

#damageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1vh 0;
}

#chatWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

#messageWrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#messageWrapper::-webkit-scrollbar {
  display: none;
}

#messageInputWrapper {
  width: 90%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  line-height: 8vh;
  font-family: "VT323", monospace;
}

#messageInput {
  height: 5vh;
  line-height: 5vh;
  font-size: 4vh;
  width: 70%;
  background-color: black;
  color: #39ff14;
  font-family: "VT323", monospace;
}

#messageInputBtnAlly {
  height: 5vh;
  line-height: 5vh;
  font-size: 5vh;
  width: 15%;
  text-align: center;
  outline: 1px solid #39ff14;
  cursor: pointer;
}

#messageInputBtnEnemy {
  height: 5vh;
  line-height: 5vh;
  font-size: 5vh;
  width: 15%;
  text-align: center;
  outline: 1px solid #39ff14;
  cursor: pointer;
}

.messageElement {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 5vh;
}

.messageRevealButton {
  width: 36%;
  margin-left: 4%;
  font-family: "VT323", monospace;
}

.messageInfo {
  width: 36%;
  margin-left: 4%;
  font-family: "VT323", monospace;
}

.messageContent {
  margin-right: 4%;
  width: 56%;
  text-align: right;
  font-family: "VT323", monospace;
  word-wrap: break-word;
}

#codeTitle {
  font-size: 6vw;
  margin: 5vh 0;
  text-align: center;
  cursor: text;
  user-select: text;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  margin-bottom: 2vh;
}

#joinPosition {
  margin-left: 3vw;
  font-size: inherit;
}

#joinCode {
    font-size: inherit;
    color: inherit;
    margin-left: 3vw;
    width: 25vw;
    height: 3vh;
    line-height: 3vh;
    background-color: #00000070;
    border: 6px white solid;
    border-radius: 2vw;
    padding: 5%;
    text-shadow: 0.4vw 0.4vw 4px #000000;
}

#winnerElement {
  font-size: 8vw;
  text-align: center;
}

.blink {
  animation: blink 0.15s linear 3;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: white;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 5vh;
    -webkit-appearance: none;
    color: #39ff14;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 5vh;
    cursor: ew-resize;
    background: gray;
    box-shadow: -100% 0 0 100% #39ff14;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #39ff14;
}
input[type="range"]::-moz-range-track {
  background-color: white;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #39ff14;
}
input[type="range"]::-ms-fill-upper {
  background-color: white;
}
